<app-header [afterLogin]="true" ></app-header>
<body>
<header id="header1" class="d-flex align-items-center" style="padding-top: 5%;">
<h1 id = "logo" style="padding-top: 1%">Welcome {{firstName}} {{lastName}}</h1>
</header>
<div class="container-fluid" style="height: 100vh;width: 100vw;">
<button (click)="goToInterac()">Go to Interac</button>
<button class="btn-outline-primary" (click)="goToTransactions()">
  Transactions
</button>
<button class="btn btn-outline-dark" (click)="validateCustomerInterac()">
  Generate UPI Payment QR
</button>

  <div class="container d-flex flex-column text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="card mb-3 rounded bg-whiten">
          <div class="card-body">
            <h5 class="card-title">Card 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
            <button class="btn btn-sm">Click me</button>
        </div>
        <div class="card mb-3 rounded bg-white">
          <div class="card-body">
            <h5 class="card-title">Card 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card mb-3 rounded bg-white">
          <div class="card-body">
            <h5 class="card-title">Card 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

<app-footer></app-footer>
