<body>
<app-header></app-header>

<div *ngIf="!this.isClicked" class="container-fluid mainContainer md-6 text-center">
  <span> Welcome! </span>
  <ul class="nav justify-content-md-center">
    <li class="nav-item firstNavItem">
      <button class="btn btn-primary buttons" (click)="goToLogin()">Login</button>
    </li>
    <li class="nav-item firstNavItem">
      <button class="btn btn-primary buttons" (click)="goToRegistration()">Register Here!</button>
    </li>
  </ul>

</div>
<router-outlet></router-outlet>
<app-footer></app-footer>

</body>
