span{
  color: #b6b6f3;
  font-size: 2rem;
  font-weight: bold;
  padding: 1%;
}
.mainContainer{
  position: relative;
  padding: 1%;
}
.buttons{
  color: darkblue;
  background-color: grey;
  font-family: Georgia;
}
.firstNavItem{
  padding: 1%;
}
body {
  background: #e5eaef;
  color: #8b8e94;
  line-height: 28px;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
}
