<form #regForm="ngForm" (ngSubmit)="registration(regForm)">
    <h3 class="fw-normal mb-4" style="color: #4835d4">
        General Infomation
    </h3>
    <div class="form-row">
        <div class="col col-md-4">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" ngModel name="firstName" placeholder="First Name" class="form-control" />
        </div>
        <div class="col col-md-4">
            <label for="middleName" class="form-label">Middle Name</label>
            <input type="text" ngModel name="middleName" id="middleName" placeholder="Middle Name"
                class="form-control" />
        </div>

        <div class="col col-md-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" ngModel name="lastName" id="lastName" placeholder="Last Name" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <label for="GenderSelection">Gender</label>
        <select class="form-control" id="GenderSelection" ngModel name="gender">
            <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
        </select>
    </div>
    <div class="form-row">

        <div class="col col-lg-2">
            <label for="Username" class="control-label">Username* </label>
            <input type="text" ngModel name="userName" id="userName" placeholder="Username" class="form-control">
        </div>
        <div class="col col-lg-2">
            <label for="password" class="control-label">Password*</label>
            <input type="password" ngModel name="password" id="password" placeholder="Password" class="form-control">
        </div>

        <div class="col col-lg-2">
            <label for="confirmPassword" class="control-label">Confirm Password*</label>
            <input type="password" ngModel name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                class="form-control">
        </div>
    </div>
    <div class="form-row">

        <div class="col col-sm-2">
            <label for="birthDate" class="control-label">Date of Birth*</label>
            <input type="date" ngModel name="dateOfBirth" id="birthDate" class="form-control">
        </div>


        <div class="col col-sm-2">
            <label for="password" class="control-label">SIN Number*</label>
            <input type="text" ngModel name="sinNumber" id="sinNo" placeholder="10 digit number" class="form-control">
        </div>

    </div>

    <div class="form-row">
        <div class="col col-lg-3">
            <label for="StreetNo" class="col col-sm control-label">Street No.</label>
            <input type="text" ngModel name="streetNumber" id="streetNo" placeholder="Street No." class="form-control">
        </div>
        <div class="col col-lg-3">
            <label for="unitNo" class="col col-sm control-label">Unit No.</label>
            <input type="text" ngModel name="unitNumber" id="unitNo" placeholder="Unit No." class="form-control">
        </div>
        <div class="col col-lg-6">
            <label for="streetName" class="col col-lg-auto control-label">Street Name</label>
            <input type="text" ngModel name="streetName" id="streetName" placeholder="Street Name" class="form-control">
        </div>

    </div>
    <div class="form-row">
        <div class="col col-sm-4">
            <label for="city" class="col col-sm control-label">City</label>
            <input type="text" ngModel name="city" id="city" placeholder="City" class="form-control">
        </div>
        <div class="col col-sm-4">
            <label for="Provinces">Province</label>
            <select class="form-control" id="GenderSelection" ngModel name="province">
                <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
            </select>
        </div>
        <div class="col col-sm-4">
            <label for="postalCode" class="col col-lg-auto control-label">Postal Code</label>
            <input type="text" ngModel name="postalCode" id="postalCode" placeholder="PostalCode" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="col col-sm-4">
            <label for="email" class="control-label">Email* </label>
            <input type="email" ngModel name="email" id="email" placeholder="Email" class="form-control">
        </div>
        <div class="col col-sm-4">
            <label for="countryCode" class="control-label">Country Code </label>
            <input type="text" ngModel name="countryCode" id="countryCode" placeholder="CC" class="form-control">
        </div>
        <div class="col col-sm-4">
            <label for="phoneNumber" class="control-label">Phone No.</label>
            <input type="text" ngModel name="mobileNumber" id="phoneNumber" placeholder="Phone No."
                class="form-control">
        </div>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
        </label>

    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>


</form>