.form-background {
  background-color: #343a40;
  padding: 30px;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 50px;
}

.container {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: black;
  align-content: center;
}

.form-group {
  color: white;
  width: 350px;
  align-content: center;
}

section {
  overflow: hidden;
  padding-top: 5%;
}

.section-title {
  text-align: center;
  padding: 20px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1px;
  padding-bottom: 0;
  color: #343a40;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 30px;
  color: white;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}

.section-title p {
  margin-bottom: 0;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.body {
  background-color: #e7e7e7;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
