h1{
  font-weight: bold;
  font-family: Georgia;
  padding: 1%;
  color: maroon;
}
h2{
  font-family: Georgia;
  font-weight: bold;
  padding:1%;
  color: darkred;
}
body{
  background-color: lightcyan;
}
.buttons{
  color: darkblue;
  background-color: grey;
  font-family: Georgia;
  margin: 1%;
}
.img-fluid{
  padding: 10%;
  width: 10%;
  length:10%;
}
