<body>
<app-header [isHomePage]="true"></app-header>


<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
  <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <span>Register for TBD Bank</span>
        <h2>Register for TBD Bank</h2>
      </div>
    </div>
  </section>
  <section class="h-100 h-custom gradient-custom-2">
    <div class="container py-md-6 h-100" style="padding-bottom: 4rem;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 25px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-6" style="color: #343a40">
                  <div class="p-5">

                    <h3 class="fw-normal mb-5" style="color: #343a40;">General Information</h3>

                    <div class="row">
                      <div class="form-row justify-content-center align-items-center">

                        <div class="col col-md-4 form-group">
                          <label class="form-label">First Name</label>
                          <input [ngClass]="{'is-invalid': submitted && this.rfc.firstName.errors}"
                                 class="form-control"
                                 formControlName="firstName"
                                 placeholder="First Name"
                                 type="text"
                          />
                          <div *ngIf="rfc.firstName.touched && this.rfc.firstName.errors" class="text-warning">
                            <div *ngIf="this.rfc.firstName.errors.required ">
                              FirstName is Required
                            </div>
                          </div>
                        </div>


                        <div class="col col-md-4 form-group">
                          <label class="form-label" for="middleName">Middle Name</label>
                          <input [ngClass]="{'is-invalid': submitted && this.rfc.middleName.errors}"
                                 class="form-control" formControlName="middleName"
                                 id="middleName"
                                 placeholder="Middle Name"
                                 type="text"
                          />
                        </div>


                        <div class="col col-md-4 form-group">
                          <label class="form-label" for="lastName">Last Name</label>
                          <input [ngClass]="{'is-invalid': submitted && this.rfc.lastName.errors}" class="form-control"
                                 formControlName="lastName"
                                 id="lastName"
                                 placeholder="Last Name"
                                 type="text"/>
                          <div *ngIf="rfc.lastName.touched && this.rfc.lastName.errors" class="text-warning">
                            <div *ngIf="this.rfc.lastName.errors.required ">
                              LastName is Required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-row justify-content-center align-items-center">
                        <div class="col col-md-5 form-group custom-width">
                          <label for="GenderSelection">Gender</label>
                          <select [ngClass]="{'is-invalid': submitted && this.rfc.gender.errors}" class="form-control"
                                  formControlName="gender"
                                  id="GenderSelection">
                            <option disabled selected value="">Select Gender</option>
                            <option *ngFor="let gen of genders" [value]="gen">{{gen|uppercase}}</option>
                          </select>
                          <div *ngIf="rfc.gender.touched && rfc.gender.errors" class="text-warning">
                            <div *ngIf="rfc.gender.errors.required ">
                              Gender is Required
                            </div>
                          </div>
                        </div>

                        <div class="col col-md-5 form-group">
                          <label class="control-label" for="birthDate">Date of Birth</label>
                          <input [ngClass]="{'is-invalid': submitted && this.rfc.dateOfBirth.errors}"
                                 class="form-control" formControlName="dateOfBirth"
                                 id="birthDate"
                                 type="date"
                          />
                          <div *ngIf="rfc.dateOfBirth.touched && this.rfc.dateOfBirth.errors" class="text-warning">
                            <div *ngIf="this.rfc.dateOfBirth.errors.required ">
                              DateOfBirth is Required
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="control-label" for="email">Email</label>
                        <input [ngClass]="{'is-invalid':submitted && rfc.email.errors}" class="form-control"
                               formControlName="email" id="email"
                               placeholder="Email"
                               type="email"
                        />
                        <div *ngIf="rfc.email.touched && this.rfc.email.errors" class="text-warning">
                          <div *ngIf="this.rfc.email.errors.required ">
                            Email is Required
                          </div>
                          <div *ngIf="rfc.email.errors.email">
                            Invalid Email Address
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="control-label" for="Username">Username</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.userName.errors}" class="form-control"
                               formControlName="userName" id="userName"
                               placeholder="Username"
                               type="text"/>
                        <div *ngIf="rfc.userName.touched && this.rfc.userName.errors" class="text-warning">
                          <div *ngIf="this.rfc.userName.errors.required ">
                            UserName is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="control-label" for="password">Password</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.password.errors}" class="form-control"
                               formControlName="password" id="password"
                               placeholder="Password"
                               type="password"/>
                        <div *ngIf="this.rfc.password.touched && this.rfc.password.errors" class="text-warning">
                          <div *ngIf="this.rfc.password.errors.required">
                            Password is Required
                          </div>
                          <div *ngIf="this.rfc.password.errors.minlength">
                            Password must have atleast 8characters!
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="control-label" for="sinNo">SIN Number</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.sinNumber.errors}" class="form-control"
                               formControlName="sinNumber" id="sinNo"
                               placeholder="10 digit SIN number"
                               type="text"
                        />
                        <div *ngIf="rfc.sinNumber.touched && this.rfc.sinNumber.errors" class="text-warning">
                          <div *ngIf="this.rfc.sinNumber.errors.required ">
                            Sin Number is Required
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="form-row justify-content-center align-items-center">
                      <div class="col col-md-10 form-group" style="width: 350px">
                        <label class="control-label" for="testAccount">Is Test Account</label>
                        <select [ngClass]="{'is-invalid': submitted && this.rfc.testAccount.errors}"
                                class="form-control" formControlName="testAccount"
                                id="testAccount">
                          <option disabled selected value="">Select Account Type</option>
                          <option *ngFor="let ta of testAccount" [value]="ta">{{ta}}</option>
                        </select>
                        <div *ngIf="rfc.testAccount.touched && rfc.testAccount.errors" class="text-warning">
                          <div *ngIf="rfc.testAccount.errors.required ">
                            Account type is Required
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-6 bg-dark text-white"
                     style="border-bottom-right-radius: 25px; border-top-right-radius: 25px;">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Contact Details</h3>

                    <div class="form-row justify-content-center align-items-center">
                      <div class="col col-md-5 form-group custom-width">
                        <label class="control-label" for="countryCode">Country Code </label>

                        <select [ngClass]="{'is-invalid': submitted && this.rfc.countryCode.errors}"
                                class="form-control" formControlName="countryCode"
                                id="countryCode">
                          <option disabled selected value="">Select Code</option>
                          <option *ngFor="let cc of countryCode" [value]="cc">{{cc}}</option>
                        </select>


                        <div *ngIf="rfc.countryCode.touched && rfc.countryCode.errors" class="text-warning">
                          <div *ngIf="rfc.countryCode.errors.required ">
                            Country Code is Required

                          </div>
                        </div>
                      </div>


                      <div class="col col-md-5 form-group custom-width">
                        <label class="control-label" for="phoneNumber">Phone Number</label>
                        <input [ngClass]="{'is-invalid':submitted && rfc.mobileNumber.errors}" class="form-control"
                               formControlName="mobileNumber"
                               id="phoneNumber"
                               placeholder="Phone Number"
                               type="text"
                        />
                        <div *ngIf="rfc.mobileNumber.touched && rfc.mobileNumber.errors" class="text-warning">
                          <div *ngIf="rfc.mobileNumber.errors.required ">
                            Phone Number is Required
                          </div>
                          <div *ngIf="rfc.mobileNumber.errors.minlength">
                            Phone number consists of only 10 digits.
                          </div>
                          <div *ngIf="rfc.mobileNumber.errors.pattern">
                            Phone number only consists of digits
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-row justify-content-center align-items-center">
                      <div class="col col-md-5 form-group custom-width">
                        <label class="col col-sm control-label" for="StreetNo">Street No.</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.streetNumber.errors}"
                               class="form-control" formControlName="streetNumber" id="streetNo"
                               placeholder="Street No."
                               type="text"
                        />
                        <div *ngIf="rfc.streetNumber.touched && this.rfc.streetNumber.errors" class="text-warning">
                          <div *ngIf="this.rfc.streetNumber.errors.required ">
                            Street Number is Required
                          </div>
                        </div>
                      </div>

                      <div class="col col-md-5 form-group custom-width">
                        <label class="col col-sm control-label" for="unitNo">Unit No.</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.unitNumber.errors}" class="form-control"
                               formControlName="unitNumber" id="unitNo"
                               placeholder="Unit No."
                               type="text"
                        />
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="col col-lg-auto control-label" for="streetName">Street Name</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.streetName.errors}" class="form-control"
                               formControlName="streetName" id="streetName"
                               placeholder="Street Name"
                               type="text"

                        />
                        <div *ngIf="rfc.streetName.touched && this.rfc.streetName.errors" class="text-warning">
                          <div *ngIf="this.rfc.streetName.errors.required ">
                            StreetName is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="col col-sm control-label" for="city">City</label>
                        <input [ngClass]="{'is-invalid': submitted && this.rfc.city.errors}" class="form-control"
                               formControlName="city" id="city"
                               placeholder="City"
                               type="text"
                        />
                        <div *ngIf="rfc.city.touched && rfc.city.errors" class="text-warning">
                          <div *ngIf="rfc.city.errors.required ">
                            City is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="col col-md-10 form-group" style="width: 350px">
                        <label for="Province">Province</label>
                        <select [ngClass]="{'is-invalid': submitted && this.rfc.province.errors}" class="form-control"
                                formControlName="province"
                                id="Province"
                        >
                          <option disabled selected value="">Select Province</option>
                          <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
                        </select>
                        <div *ngIf="rfc.province.touched && this.rfc.province.errors" class="text-warning">
                          <div *ngIf="this.rfc.province.errors.required ">
                            Province is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-outline mb-4 form-group">
                        <label class="col col-lg-auto control-label" for="postalCode">Postal Code</label>
                        <input [ngClass]="{'is-invalid': submitted && rfc.postalCode.errors}" class="form-control"
                               formControlName="postalCode" id="postalCode"
                               placeholder="PostalCode"
                               type="text"
                        />
                        <div *ngIf="rfc.postalCode.touched && this.rfc.postalCode.errors" class="text-warning">
                          <div *ngIf="this.rfc.postalCode.errors.required ">
                            Postal Code is Required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center align-items-center">
                      <div class="form-check">
                        <input class="form-check-input" id="invalidCheck" required type="checkbox" value="">
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                      </div>
                    </div>
                    <div class="mt-4 pt-2 text-center">
                      <button class="btn btn-danger btn-lg mx-2" type="submit">Submit</button>
                      <button (click)="onReset()" class="btn btn-light btn-lg mx-2">Reset</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
</body>
<app-footer></app-footer>
<router-outlet></router-outlet>
