<body>
<div class="container-fluid">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h1 class="fw-normal mb-4 text-center">
      General Information
    </h1>
    <div class="container-fluid align-items-center">
      <div class="form-row justify-content-center align-items-center">
        <div class="col col-md-2 form-group form-outline">
          <label class="form-label">First Name</label>
          <input type="text"
                 placeholder="First Name"
                 class="form-control"
                 formControlName="firstName"
                 [ngClass]="{'is-invalid': submitted && this.rfc.firstName.errors}"
          />
          <div *ngIf="rfc.firstName.touched && this.rfc.firstName.errors" class="text-warning">
            <div *ngIf="this.rfc.firstName.errors.required ">
              FirstName is Required
            </div>
          </div>
        </div>
        <div class="col col-md-2 form-group">
          <label for="middleName" class="form-label">Middle Name</label>
          <input type="text" id="middleName" placeholder="Middle Name"
                 class="form-control"
                 formControlName="middleName"
                 [ngClass]="{'is-invalid': submitted && this.rfc.middleName.errors}"
          />
        </div>
        <div class="col col-md-2 form-group">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" id="lastName" placeholder="Last Name"
                 class="form-control"
                 formControlName="lastName"
                 [ngClass]="{'is-invalid': submitted && this.rfc.lastName.errors}"/>
          <div *ngIf="rfc.lastName.touched && this.rfc.lastName.errors" class="text-warning">
            <div *ngIf="this.rfc.lastName.errors.required ">
              LastName is Required
            </div>
          </div>
        </div>
        <div class="col col-md-2 form-group">
          <label for="GenderSelection">Gender</label>
          <select class="form-control" id="GenderSelection" formControlName="gender"
                  [ngClass]="{'is-invalid': submitted && this.rfc.gender.errors}">
            <option *ngFor="let gen of genders" [value]="gen">{{gen|uppercase}}</option>
          </select>
          <div *ngIf="rfc.gender.touched && rfc.gender.errors" class="text-warning">
            <div *ngIf="rfc.gender.errors.required ">
              Gender is Required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="col col-md-4 form-group">
        <label for="email" class="control-label">Email* </label>
        <input type="email"  id="email" placeholder="Email" class="form-control"
               formControlName="email"
               [ngClass]="{'is-invalid':submitted && rfc.email.errors}"
        />
        <div *ngIf="rfc.email.touched && this.rfc.email.errors" class="text-warning">
          <div *ngIf="this.rfc.email.errors.required ">
            Email is Required
          </div>
          <div *ngIf="rfc.email.errors.email">
            Invalid Email Address
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="col col-md-4 form-group">
        <label for="Username" class="control-label">Username* </label>
        <input type="text" id="userName" placeholder="Username" class="form-control"
               formControlName="userName"
               [ngClass]="{'is-invalid': submitted && this.rfc.userName.errors}"/>
        <div *ngIf="rfc.userName.touched && this.rfc.userName.errors" class="text-warning">
          <div *ngIf="this.rfc.userName.errors.required ">
            UserName is Required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="col col-md-4 form-group">
        <label for="password" class="control-label">Password*</label>
        <input type="password" id="password" placeholder="Password" class="form-control"
               formControlName="password"
               [ngClass]="{'is-invalid': submitted && this.rfc.password.errors}"/>
        <div *ngIf="this.rfc.password.touched && this.rfc.password.errors" class="text-warning">
          <div *ngIf="this.rfc.password.errors.required">
            Password is Required
          </div>
          <div *ngIf="this.rfc.password.errors.minlength">
            Password must have atleast 8characters!
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="col col-md-3 form-group">
        <label for="birthDate" class="control-label">Date of Birth*</label>
        <input type="date" id="birthDate" class="form-control"
               formControlName="dateOfBirth"
               [ngClass]="{'is-invalid': submitted && this.rfc.dateOfBirth.errors}"
        />
        <div *ngIf="rfc.dateOfBirth.touched && this.rfc.dateOfBirth.errors" class="text-warning">
          <div *ngIf="this.rfc.dateOfBirth.errors.required ">
            DateOfBirth is Required
          </div>
        </div>
      </div>
      <div class="col col-md-3 form-group">
        <label for="sinNo" class="control-label">SIN Number*</label>
        <input type="text" id="sinNo" placeholder="10 digit SIN number" class="form-control"
               formControlName="sinNumber"
               [ngClass]="{'is-invalid': submitted && this.rfc.sinNumber.errors}"
        />
        <div *ngIf="rfc.sinNumber.touched && this.rfc.sinNumber.errors" class="text-warning">
          <div *ngIf="this.rfc.sinNumber.errors.required ">
            Sin Number is Required
          </div>
        </div>
      </div>
    </div>
    <h2 class="fw-normal mb-4 text-center">Contact Information</h2>
    <div class="form-row justify-content-center align-items-center" >
      <div class="col col-sm-1 form-group">
        <label for="countryCode" class="control-label">Country Code </label>
        <input type="text" id="countryCode" placeholder="CC" class="form-control"
               formControlName="countryCode"
               [ngClass]="{'is-invalid':submitted && rfc.countryCode.errors}"
        />
        <div *ngIf="rfc.countryCode.touched && rfc.countryCode.errors" class="text-warning">
          <div *ngIf="rfc.countryCode.errors.required ">
            Country Code is Required
          </div>
        </div>
      </div>
      <div class="col col-sm-4 form-group">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <input type="text" id="phoneNumber" placeholder="Phone Number"
               class="form-control"
               formControlName="mobileNumber"
               [ngClass]="{'is-invalid':submitted && rfc.mobileNumber.errors}"
        />
        <div *ngIf="rfc.mobileNumber.touched && rfc.mobileNumber.errors" class="text-warning">
          <div *ngIf="rfc.mobileNumber.errors.required ">
            Phone Number is Required
          </div>
          <div *ngIf="rfc.mobileNumber.errors.minlength">
            Phone number consists of only 10 digits.
          </div>
          <div *ngIf= "rfc.mobileNumber.errors.pattern">
            Phone number only consists of digits
          </div>
        </div>
      </div>
    </div>

    <div class="form-row justify-content-center align-items-center">
      <div class="col col-sm-2 form-group">
        <label for="StreetNo" class="col col-sm control-label">Street No.</label>
        <input type="text" id="streetNo" placeholder="Street No." class="form-control"
               formControlName="streetNumber"
               [ngClass]="{'is-invalid': submitted && this.rfc.streetNumber.errors}"
        />
        <div *ngIf="rfc.streetNumber.touched && this.rfc.streetNumber.errors" class="text-warning">
          <div *ngIf="this.rfc.streetNumber.errors.required ">
            Street Number is Required
          </div>
        </div>
      </div>
      <div class="col col-sm-2 form-group">
        <label for="unitNo" class="col col-sm control-label">Unit No.</label>
        <input type="text" id="unitNo" placeholder="Unit No." class="form-control"
               formControlName="unitNumber"
               [ngClass]="{'is-invalid': submitted && this.rfc.unitNumber.errors}"
        />
      </div>
      <div class="col col-sm-4 form-group">
        <label for="streetName" class="col col-lg-auto control-label">Street Name</label>
        <input type="text" id="streetName" placeholder="Street Name" class="form-control"
               formControlName="streetName"
               [ngClass]="{'is-invalid': submitted && this.rfc.streetName.errors}"

        />
        <div *ngIf="rfc.streetName.touched && this.rfc.streetName.errors" class="text-warning">
          <div *ngIf="this.rfc.streetName.errors.required ">
            StreetName is Required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="col col-md-2 form-group">
        <label for="city" class="col col-sm control-label">City</label>
        <input type="text" id="city" placeholder="City" class="form-control"
               formControlName="city"
               [ngClass]="{'is-invalid': submitted && this.rfc.city.errors}"
        />
        <div *ngIf="rfc.city.touched && rfc.city.errors" class="text-warning">
          <div *ngIf="rfc.city.errors.required ">
            City is Required
          </div>
        </div>
      </div>
      <div class="col col-md-2 form-group">
        <label for="Province">Province</label>
        <select class="form-control" id="Province"
                formControlName="province"
                [ngClass]="{'is-invalid': submitted && this.rfc.province.errors}"
        >
          <option *ngFor="let prov of provinces" [value]="prov">{{prov}}</option>
        </select>
        <div *ngIf="rfc.province.touched && this.rfc.province.errors" class="text-warning">
          <div *ngIf="this.rfc.province.errors.required ">
            Sin Number is Required
          </div>
        </div>
      </div>
      <div class="col col-md-2 form-group">
        <label for="postalCode" class="col col-lg-auto control-label">Postal Code</label>
        <input type="text" id="postalCode" placeholder="PostalCode" class="form-control"
               formControlName="postalCode"
               [ngClass]="{'is-invalid': submitted && rfc.postalCode.errors}"
        />
        <div *ngIf="rfc.postalCode.touched && this.rfc.postalCode.errors" class="text-warning">
          <div *ngIf="this.rfc.postalCode.errors.required ">
            Postal Code is Required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-center align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
      </div>
      <div class="container-fluid">
        <ul class="nav justify-content-md-center">
          <li class="nav-item firstNavItem">
            <button class="btn btn-primary buttons" type="submit" >Submit</button>
          </li>
          <li class="nav-item firstNavItem">
            <button class="btn btn-primary buttons"  (click)="onReset()">Reset</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
</body>
<router-outlet></router-outlet>
