<body>
<header id="header" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo" *ngIf="isHomePage"><a href="index.html">TBD Bank</a></h1>
    <h1 class="logo" *ngIf="afterLogin"><a href="user-account">TBD Bank</a></h1>
    <nav id="navbar" class="navbar">
      <ul *ngIf="isHomePage">
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto " href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#team">Meet the Team</a></li>
        <li><a class="nav-link scrollto" href="#aboutFooter">Contact</a></li>
      </ul>
      <ul *ngIf="afterLogin">
        <li><a class="nav-link scrollto active" href="user-account">User-Account</a></li>
        <li><a class="nav-link scrollto active" href="transaction">Transactions</a></li>
        <button class="btn btn-danger my-2 my-sm-0" (click)="logOut()" type="submit">Log Out</button>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>

</body>


