.container{
  background-color: #1f2c36;
  width: 100%;
}

.header {
  background-color: #1f2c36;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar-nav {
  border-radius: 5px;
  padding: 5px;
  align-items: flex-end;
}

.navbar-nav a {
  align-items: flex-end;
  border-right: 1px solid white;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.navbar-nav a:last-child {
  border-right: none;
}

.navbar-nav a:hover {
  background-color: white;
  color:#1f2c36;
}

.header:hover {
  background-color: #2c3e50;
}
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}
.navbar-brand img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}
